In [1]:
# Import required libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the data
df = pd.read_csv('hotel_bookings.csv')
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [3]:
# Check for null values in the dataset
df.isnull()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119386,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119387,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119388,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119389,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [4]:
# This method prints information about a DataFrame including the index dtype and columns, non-null values and memory usage.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
hotel                             119390 non-null object
is_canceled                       119390 non-null int64
lead_time                         119390 non-null int64
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119386 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           118902 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
agent                             103050 non-null float64
company                           6797 non-null float64
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119390 non-null object
reservation_status_date           119390 non-null object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

Columns with NaN values

1.children

2.country

3.agent

4.company

In [5]:
# Return a tuple representing the dimensionality of the DataFrame.
df.shape

(119390, 32)

In [6]:
# converting the object datatype of 'reservation_status_date' to datetime datatype
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'])

In [7]:
df['reservation_status_date']

0        2015-07-01
1        2015-07-01
2        2015-07-02
3        2015-07-02
4        2015-07-03
            ...
119385   2017-09-06
119386   2017-09-07
119387   2017-09-07
119388   2017-09-07
119389   2017-09-07
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns]

In [8]:
type(df['reservation_status_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [9]:
# Creating a new column by combining the date,month and year of arrival together.
df['arrival_date'] = df.arrival_date_year.astype(str) + '/' + df.arrival_date_month.astype(str) + '/' + df.arrival_date_day_of_month.astype(str)

In [10]:
df['arrival_date'] = pd.to_datetime(df['arrival_date'])

In [11]:
df['arrival_date']

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Name: arrival_date, Length: 119390, dtype: datetime64[ns]

In [12]:
df.shape

(119390, 33)

In [13]:
# checking the converted datatype
df['arrival_date'][0]

Timestamp('2015-07-01 00:00:00')

In [14]:
# Checking the number of missing values in each column
np.sum(df.isnull())

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
arrival_date                           0
dtype: int64

In [15]:
# Since the column has only 4 missing values we can check their indexes
df.children[df.children != df.children].index.values

array([40600, 40667, 40679, 41160], dtype=int64)

In [17]:
# Removing unwanted columns
for col in df.columns:
    if np.sum(df[col].isnull())> (df.shape[0] * 0.7):
        df.drop(columns=col, inplace=True, axis=1)
print(df.shape)

(119390, 32)

In [20]:
# the "arrival_date_week_number" column is of no use as we already have 3 columns of year, month, date which gave us the day of arrival.
# Also since we have a new column showing the date, lets remove the redundant columns.
df.drop(columns=['arrival_date_week_number', 'arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month'],inplace=True, axis=1)

In [21]:
df.shape

(119390, 28)

In [22]:
# Removing the unwanted rows
# Depending upon what values we are predicting, we can either remove the entire agent id column or remove the rows having empty values.
# Lets remove all rows having a missing value in the 'agent' column.
df.dropna(subset=['agent'], inplace=True)
df.shape

(103050, 28)

In [23]:
# Filling the missing values of columns
# First let us fill the children column. Here I have used the mean as a value to be replaced with the missing vaules.
# As mean can be a float, I have taken the lowest nearest integer using the floor method.

df['children'].fillna(value=df['children'].mean(), inplace=True)
df['children'] = df['children'].apply(np.floor)
print(f'Total missing values in the children column after filling = {np.sum(df.children.isnull())}')

Total missing values in the children column after filling = 0

In [25]:
array = ['market_segment', 'distribution_channel', 'meal', 'country']
print("No of missing values are as follows: ")
for i in array:
    df[i].fillna(method='bfill', inplace=True)
    print(f"{i}: {np.sum(df[i].isnull())}")

No of missing values are as follows:
market_segment: 0
distribution_channel: 0
meal: 0
country: 0

In [26]:
# Checking if columns contain an missing values
np.sum(df.isnull())

hotel                             0
is_canceled                       0
lead_time                         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
arrival_date                      0
dtype: int64

Thus, I did some column alterations, filled the missing vaules, reduced some unwanted rows, changed some datatypes into the appropriate ones and now our data is pretty cleaned to be fed to our model!.